target
.idea
logs
.DS_Store
.history
logs
*/build
*/conf/prodExt.conf
*/conf/testExt.conf
*/conf/prodLocal.conf
*/conf/testLocal.conf
*/localConfigs/*
test-dir/
.ipynb_checkpoints
*/conf/production/
playApi/conf/production.conf
storage_manager/core/opendata
*/.ensime_cache/
*/.ensime
opendata
kubernetes/secrets-test.yml
kubernetes/secrets-prod.yml
project/project