target
.idea
logs
.DS_Store
.history
*/build
*/conf/prodExt.conf
*/conf/testExt.conf
*/conf/prodLocal.conf
*/conf/testLocal.conf
*/localConfigs/*
test-dir/
.ipynb_checkpoints
*/conf/production/
playApi/conf/production.conf
storage_manager/core/opendata
*/.ensime_cache/
*/.ensime
opendata
kubernetes/output.yml
kubernetes/secrets-test.yml
kubernetes/secrets-prod.yml
project/project
/project/Environment.scala
/kubernetes/daf-storage-manager.yml
/.bloop/
/.metals/
/project/.bloop/daf-srv-storage-build.json
